<div class="form-group">
    <label for="ratings">Amenities</label>
    <select
        ng-model="vm.bookingModel.rating"
        id="ratings"
        class="form-control">
        <option value="5">★★★★★ 5 stars</option>
        <option value="4">★★★★ 4 stars and higher</option>
        <option value="3">★★★ 3 stars and higher</option>
        <option value="2">★★ 2 stars and higher</option>
    </select>
</div>
<div class="form-group">
    <bk-location
        title="Location"
        model="vm.bookingModel.location">
    </bk-location>
</div>
