.history {
    margin-top: 20px;
    border-top: 1px solid #ccc;
}

.history > div {
    padding: 7px 0;
}

.history i {
    cursor: pointer;
}

.main.container {
    padding-top: 40px;
    max-width: 800px;
}

.tab-content {
    display: flex;
}

.tabs-left > .nav-tabs {
    border-bottom: 0;
    padding: 20px 0;
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.tabs-left > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
    padding: 0;
}

.tabs-left > .nav-tabs uib-tab-heading {
    display: block;
    padding: 10px 15px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}
