<!doctype html>
<html ng-app="BookingApp">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.16/angular-ui-router.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
    <script src="directives/datepicker/datepicker.js"></script>
    <script src="js/app.js"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
<div ng-controller="BookingCtrl as vm"
     class="main container">
    <!-- TODO: use default bootstrap tabs instead, or event better reimplement the component -->

    <uib-tabset class="tabs-left">
        <uib-tab ng-repeat="tab in vm.tabs"
                 active="tab.isActive"
                 select="vm.select(tab.title)">

            <uib-tab-heading>
                <i class="glyphicon glyphicon-info-sign"></i> {{ tab.title }}
            </uib-tab-heading>

            <div class="container">
                <form>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <bk-datepicker
                                title="Start Date"
                                model="vm.bookingModel.startDate"></bk-datepicker>
                        </div>
                        <div class="col-sm-6">
                            <bk-datepicker
                                title="End Date"
                                model="vm.bookingModel.endDate"></bk-datepicker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ui-view />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <pre>{{ vm.bookingModel | json }}</pre>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <button
                                    ng-click="vm.clear()"
                                    type="button"
                                    class="btn btn-link">Clear</button>
                                <button
                                    ng-click="vm.search()"
                                    type="button"
                                    class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                    <div ng-if="vm.history.length > 0" class="row history">
                        <h4>Previous Searches</h4>
                        <div ng-repeat="h in vm.history track by $index">
                            <span ng-bind-html="h"></span>
                            <i ng-click="vm.removeFromHistory($index)"
                               class="glyphicon glyphicon-remove pull-right"></i>
                        </div>
                    </div>
                </form>
            </div>

        </uib-tab>
    </uib-tabset>
</div>
</body>
</html>
